/* whole navigation bar */
.bar{
     margin-top: -1px;
    display: flex;
    width: 270px;
    height: 20px;
    min-height: 20px;
    background-color: #E3F2FD;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

/* ipod logo */
.heading{
    width: 20%;
    height: inherit;
    margin: 0;
}

/* time */
.time{
    width: 20%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* battery icon */
.battery{
    width: 22px;
    height: 20px;
    display: flex;
}

/* container for battery and play pause icon */
.right-container-nav{
    height: inherit;
    width: 20%;
        display: flex;
    justify-content: flex-end;
}

/* play pause icon in right */
.play-pause-nav{
    font-size: 15px;
    margin: 0px;
    margin-right: 8px;
    padding: 0px;
    text-align: center;
    color: #039BE5;
}

/* notification */
.notification{
    color: #039BE5;
    margin: 1px;
    margin:auto;
    padding: 0px;
    text-align: center;
}